.about-img > picture > img.self-portrait{
    border-radius: 1em;
    filter: drop-shadow(5px 5px 4px #a8a8a8);
}

.photography-imgs > picture > img.p-img {
    width: 100%;
    height: auto;
    border-radius: 1em; /* Rounded borders */
    filter: drop-shadow(5px 5px 4px #a8a8a8);
}



.photography-imgs {
    overflow: hidden;
    position: relative;
    height: 70vh; /* Set max height to 70vh */
    width: 100%;
}

.scrolling-container > picture {
    flex: 0 0 auto;
    border-radius: 1em; /* Rounded borders */
    overflow: hidden; /* Ensure the border radius is applied */
    filter: drop-shadow(5px 5px 4px #a8a8a8); /* Small drop shadows */
}

@keyframes scroll-vertical {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%); /* Adjust to ensure continuous scrolling */
    }
}

.scrolling-container {
    position: relative; /* Ensure it is below the fade effects */
    display: flex;
    flex-direction: column;
    animation: scroll-vertical 90s linear infinite; /* Ensure the animation runs infinitely */
    gap: 1em; /* Add gap between images */
    animation-play-state: running; /* Ensure animation is running by default */
}

.photography-imgs::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0; /* Ensure the top fade effect is positioned correctly */
    height: 5%; /* Adjust height for fade effect */
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 1; /* Ensure it is above the images */
}

.photography-imgs::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /* Ensure the bottom fade effect is positioned correctly */
    height: 5%; /* Adjust height for fade effect */
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.notice {
    font-size: .5em;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-size: 2.25em;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

@media (min-width: 991px) {
    .about-img > picture > img.self-portrait {
        width: 70%;
    }
    .photography-imgs > picture > .p-img {
        width: 100%;
    }
}

@media (max-width: 990px) {
    .about-img > picture > img.self-portrait, .photography-imgs > picture > .p-img {
        width: 100%;
    }
}